<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>

<% if can?(:crud, @idea)%>
<%= link_to "Edit", edit_idea_path(@idea), class:"btn btn-warning " %>
<%= link_to "Delete", idea_path(@idea), class:"btn btn-danger ", method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<hr />
<%= form_with(model: [@idea, @review], local: true) do |f| %>
<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg|%>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="form-group">
  <label>body</label>
  <%= f.text_area(
  :body,
  cols: 50,
  rows: 5,
  placeholder: "What are your review?",
  class: "form-control"
  ) %>
</div>
<%= f.submit "Review", class:"btn btn-primary" %>
<% end %>

<hr />

<ul class="answer-list">
<% if @reviews!= nil%>
  <% @reviews.each do |review| %>
    <li>
      <p>
        <%= review.body %> <br />
        <% if can?(:crud, review)%>
        <small>
          <%= button_to(
            "Delete",
            idea_review_path(@idea, review),
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }, 
            class: "btn btn-danger"
          ) %>
        </small>
        |
        <%end%>
        <small>
          Reviewed <%= time_ago_in_words(review.created_at) %> ago
        </small>
        |
        <small>
          user: <%= review.user&.full_name %>
        </small>
      </p>
    </li>
  <% end %>
<% end %>
</ul>