<!DOCTYPE html>
<html>
  <head>
    <div>
      <%= image_tag("idea.png", width:"100",class:"image ml-4")%>
    </div>

    <title>IdeaFactory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <% flash.each do |type, message|%>
    <div class="flush flush-<%= type%>">
      <%= message%>
    </div>
    <% end%>
    <div class="d-flex flex-row justify-content-between bg-light">
    <h5 class="text-primary my-auto mx-2">Idea Factory</h5>
    <ul class="nav justify-content-end mx-2">
      <% if user_signed_in? %>
        <li class="my-auto mx-3">
        <span>Hello <%= current_user.first_name%></span>
        </li>
        <li class="my-auto">
        <%= button_to "Logout", session_path, method: :delete, data:{confirm: "Are you sure you want to log out"}%>
        </li>
      <% else%>
        <li class="my-auto mx-3"><%= link_to "Login", new_session_path%> </li>
        <li class="my-auto"><%= link_to "Sign Up", new_user_path%></li>
      <% end%>
      <li class="nav-item">
        <%= link_to 'Home', root_path,class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Idea', new_idea_path,class:'nav-link' %>
      </li>
    </ul>
  </div>
    

    <hr>
    
    <%= yield %>
  </body>
</html>